<style>
  #latitude {
    -webkit-animation: pulse 0.5s infinite ease-in-out;
    -moz-animation: pulse 0.5s infinite ease-in-out;
    animation: pulse 0.5s infinite ease-in-out;
  }

  #longitude {
    -webkit-animation: pulse 0.5s infinite ease-in-out;
    -moz-animation: pulse 0.5s infinite ease-in-out;
    animation: pulse 0.5s infinite ease-in-out;
  }

  @-webkit-keyframes pulse {
    0% { background-color: #aaa; }
    100% { background-color: #fff; }
  }

  @-moz-keyframes pulse {
    0% { background-color: #aaa; }
    100% { background-color: #fff; }
  }

  @keyframes pulse {
    0% { background-color: #aaa; }
    100% { background-color: #fff; }
  }
</style>

<script>
function success(position) {
  var latitude = document.getElementById("latitude");
  latitude.value = position.coords.latitude;
  latitude.style.animation = "unset";

  var longitude = document.getElementById("longitude");
  longitude.value = position.coords.longitude;
  longitude.style.animation = "unset";
}

function error(msg) {
  console.error(msg);
}

if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(success, error);
} else {
  error('Geolocation not supported or allowed');
}
</script>

<table>
<% form(@image,
        :inputs_wrapper => :fieldset,
        action: '/hotspots',
        method: 'post',
        ) do |f| %>
  <tr>
    <td>Name:</td>
    <td><%== f.input(:name, size: 50) %></td>
  </tr>
  <tr>
    <td>Latitude:</td>
    <td><%== f.input(:latitude, type: 'text', size: 15, id: 'latitude') %></td>
  </tr>
  <tr>
    <td>Longitude:</td>
    <td><%== f.input(:longitude, type: 'text', size: 15, id: 'longitude') %></td>
  </tr>
  <tr>
    <td></td>
    <td><input type="file" name="image" accept="image/*"></td>
  </tr>
  <tr>
    <td></td>
    <td><%== f.button(value: 'Create') %></td>
  </tr>
<% end %>
</table>
