<a href="/hotspots/new" style="-webkit-appearance: button; -moz-appearance: button; appearance: button; color: green; width: 100%; height: 5em; font-size: 2em; text-align: center;">Add a new hotspot</a>
</br> or explore the known hotspots on the map </br>

<%== render("hotspots/map") %>

