
#mapid {
  height: 400px;
  background-color: green;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.navigation {
  height: 40px;
  font-size: 16px;
  background: #262626;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 40px;
  /* text-transform: uppercase; */
  font-size: 1.2em;
}

.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 10px;
  line-height: 40px;
  background: #262626;
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover,
nav ul li a:visited:hover {
  background: #2581DC;
  color: #ffffff;
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 40px;
  width: 60px;
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 8px;
  cursor: pointer;
  padding: 10px 25px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 25px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -8px;
}

#nav-toggle span:after {
  bottom: -8px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/* Bigger than 800 */
@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
}

/* Bigger than 800 */
@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important;
  }

  #mapid {
    height: 600px;
    background-color: green;
  }

  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .navigation {
    height: 50px;
    font-size: 16px;
  }

  .brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 50px;
    /* text-transform: uppercase; */
    font-size: 1.4em;
  }
}

/* Bigger than 1024 */
@media screen and (min-width: 1024px) {
  #mapid {
    height: 900px;
    background-color: green;
  }
}

article {
  max-width: 1900px;
  margin: 0 auto;
  padding: 10px;
}

